body {
  background-color: #f7f7f7;
  font-family: Poppins, Roboto, Arial, Helvetica, sans-serif;
  height: 1000px;
}

body,
h1,
ul,
p,
a,
ul,
img {
  margin: 0px;
  padding: 0px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

/* HEADER */

.header {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  padding: 48px 0;
  box-sizing: border-box;
  max-width: 1160px;
  margin: 0 auto;
}

.header-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.header-menu a {
  display: inline-block;
  padding: 10px;
  color: #2e2e2e;
  font-size: 1.125em;
  font-weight: 500;
}

.header-menu a:after {
  content: "";
  display: block;
  width: 0px;
  height: 2px;
  background: #404040;
  transition: 0.3s;
}

.header-menu a:hover:after {
  width: 100%;
}

@media (max-width: 800px) {
  .header-menu a {
    background: #fff;
    border-radius: 5px;
    padding: 10px 15px;
  }
  .header-menu a:hover {
    background-color: #ededed;
  }
  .header a::after {
    display: none;
  }
}

@media (max-width: 600px) {
  .header-menu {
    gap: 12px;
  }
  .header-menu a {
    padding: 8px 12px;
    font-size: 14px;
  }
}

/* INTRODUÇÃO */

.introducao h1 {
  line-height: 84px;
  margin-bottom: 40px;
  font-size: 4.5em;
  font-weight: 600;
  color: #111111;
}

.introducao {
  box-sizing: border-box;
  max-width: 1160px;
  margin: 0 auto;
  margin-top: 5em;
  display: grid;
  grid-template-columns: minmax(2fr 1fr);
  gap: 1.25em;
}

.row {
  grid-column: 2;
  grid-row: 1/4;
}
