body {
  background-color: #f7f7f7;
  font-family: Poppins, Roboto, Arial, Helvetica, sans-serif;
}

body,
h1,
ul,
p,
a,
ul,
img {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

/* HEADER */

.header {
  display: flex;
  flex-wrap: wrap;
  gap: 1.25rem;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 0;
  box-sizing: border-box;
  max-width: 1160px;
  margin: 0 auto;
}

.header-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 1.25rem;
}

.header-menu a {
  display: inline-block;
  padding: 0.625rem;
  color: #2e2e2e;
  font-size: 1.125rem;
  font-weight: 500;
}

.header-menu a:after {
  content: "";
  display: block;
  width: 0;
  height: 0.125rem;
  background: #404040;
  transition: 0.3s;
}

.header-menu a:hover:after {
  width: 100%;
}

@media (max-width: 1160px) {
  .header {
    margin: 0 1.25rem;
  }
}

@media (max-width: 800px) {
  .header-menu a {
    background: #fff;
    padding: 0.625rem 0.75rem;
  }
  .header-menu a:hover {
    background-color: #ededed;
  }
  .header a::after {
    display: none;
  }
  .header {
    padding: 1.875rem 0;
  }
}

@media (max-width: 600px) {
  .header-menu {
    gap: 0.75rem;
  }
  .header-menu a {
    padding: 0.5rem 0.75rem;
    font-size: 1rem;
  }
}

/* INTRODUÇÃO */

.introducao h1 {
  margin-bottom: 2.5rem;
  font-size: 4.5rem;
  font-weight: 600;
  color: #111111;
}

.introducao {
  box-sizing: border-box;
  max-width: 1160px;
  margin: 0 auto;
  margin-top: 4.5rem;
  display: grid;
  grid-template-columns: minmax(2fr 1fr);
  gap: 1.25rem;
}

.img-row {
  grid-column: 2;
  grid-row: 1/4;
}

.img-row > img {
  min-height: 100%;
  object-fit: cover;
}

@media (max-width: 1160px) {
  .introducao {
    margin: 1.25rem;
  }

  .introducao h1 {
    margin-bottom: 1.25rem;
  }
}

@media (max-width: 800px) {
  .introducao {
    gap: 0.625rem;
    margin: 1.875rem 1.25rem 0 1.25rem;
  }

  .introducao h1 {
    font-size: 3rem;
  }
}

@media (max-width: 600px) {
  .introducao {
    grid-template-columns: 1fr;
    gap: 0.625rem 0;
    margin: 0.625rem 0;
  }

  .introducao h1 {
    font-size: 2.5rem;
    grid-column: span 2;
    margin: 0.3125rem 1.25rem;
  }

  .introducao-img {
    display: none;
  }

  .img-row {
    margin: 0;
    grid-column: 1;
    grid-row: 2;
  }
}
